   <h1>Subscriptions</h1>
        <div>
          <% @subscriptions.each do |subscription| %>
            <% #binding.pry %>
            <h2>Level: <%= link_to "#{subscription.id}",
            subscription_path(subscription) %></h2>
            <p>Description: <%= subscription.description %></p>
            <p>Rate: <%=subscription.rate%>
           <% end %>
        </div>
